@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');


* {
    font-family: 'Inter', sans-serif;
    color: rgb(21, 32, 58);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

article {
    padding: 20px;
    margin: 20px auto;
    display: block;
    max-width: 1200px;
    background: rgb(214, 233, 255);
    border-radius: 20px;
    box-shadow: 0 0
}

h1 {
 font-size: 36px;
}

a {
    flex: 1 1 200px;
    background: rgb(255, 255, 255);
    padding: 16px 32px;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: .2s;
    text-align: center;
}

a:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.flex-container {
    background: rgb(194, 218, 255);
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
    position: relative;
    line-height: 1.4;
}

img {
    width: 100px;
    display: block;
    background: rgb(218, 233, 255);
    margin: 0 0 10px;
    border-radius: 12px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.flex-container strong {
    display: block;
    text-align: center;
    font-weight: 900;
}