@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');


* {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    color: #111;  
    box-sizing: border-box;
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 48px;
    margin: 0;
}

body {
    position: relative;
    display: block;
    height: 100vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./images/background.jpeg");
    background-size: 100% 100%;
}

input[type="submit"] {
    border-radius: 100px;
    border: none;
    border: 4px solid black;
    background: rgb(0, 0, 0);
    padding: 16px 40px;
    color: white;
    transition: .2s;
    margin-top: 20px;
    display: block;
    font-weight: bold;
    width: 100%;
}

input[type="submit"]:hover {
    background: rgb(255, 255, 255);
    border: 4px solid black;
    color: rgb(0, 0, 0);
}

input[type="text"], select {
    border-radius: 10px;
    border: 4px solid #111;
    padding: 10px;
}

div, form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 24px !important; 
    background: white;
}

image {
    display: block;
    width: 100%;
}

span {
    display: inline;
    font-size: 24px !important; 
}